.calendar {
    background: #0B1739;
    border-radius: 16px;
    padding: 10px;
    color: white;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    font-weight: bold;
    background: #0B1739;
}

.calendar-grid {
    display: grid;
    grid-template-columns: 60px repeat(7, 1fr);
    position: relative;
}

.time-column .time-cell {
    background: #0B1739;
    border-top: 1px solid #2a3a55;
    font-size: 12px;
    text-align: right;
    padding-right: 4px;
    box-sizing: border-box;
}

.hour-cell {
    border-top: 1px solid #2a3a55;
    background: #0B1739;
    box-sizing: border-box;
}

.day-column {
    position: relative;
    border-left: 1px solid #2a3a55;
}

.lesson {
    position: absolute;
    left: 4px;
    right: 4px;
    background: #3b82f6;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
}

.change-week-btn {
    border-radius: 15px;
    border: none;
    color: white;
}

.week-info {
    background: #0B1739;
}
