.students {
    grid-area: 2 / 2 / 6 / 7;
    margin-top: 50px;
}

.Dashboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;

}

.header {
    grid-area: 1 / 2 / 2 / 7;
}

.header h1 {
    margin: 0;
}

.header-wrapper-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 16px 0 0 0;
}

.add-student-btn{
    color: white;
    border: none;
    background-color: purple;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: 0;
    cursor: pointer;
    transition: 0.5s linear;
}

.add-student-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.5s linear;
}

.create-btn{
    color: white;
    background-color: green;
    border-radius: 5px;
}

.cancel-btn{
    color: white;
    background-color: red;
    border-radius: 5px;
}

.add-stdnt-inpt{
    border: 1px solid;
    width: 100%;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label{
    color: black;
    background-color: white;
}

.form-row{
    background-color: white;
}

.modal-title{
    color: black;
    background-color: white;
}