.calendar-page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}


.sidebar-wrapper {
    grid-area: 1 / 1 / 11 / 2;
}

.calendar-wrapper {
    grid-area: 1 / 2 / 11 / 7;
    display: grid;
    color: #0B1739;
}

